<!doctype html>
<html ng-app="peliculas">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">

<head>
  <title>AngularJs</title>
</head>

<body ng-controller="movies">
  <h1>
    {{titulo}}
  </h1>
  <h2>
    {{titulo | uppercase}}
  </h2>

  <p>Yo soy <b>{{nombre}}</b></p>

  <input type='text' ng-model='nuevaPeli.titulo'> 
  <input type='text' ng-model='nuevaPeli.fecha'> 
  <button ng-click='agregarPelicula()'>Agregar pelicula</button>
  <ul class="mt-5">
    <li ng-repeat='pelicula in peliculas'>
      {{pelicula.titulo}}
      {{pelicula.fecha}}
    </li>
  </ul>

  <script src="https://code.angularjs.org/1.4.0/angular.js"></script>
  <script src="./controller.js"></script>

</body>

</html>